.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.weather-display {
    margin-top: 25px;
}

.name-date-display {
    background-color: royalblue;
    color: white;
}

#searchBtn {
    margin: 5px 0 5px 0;
    width: 100%;
}

.input { /*Change this, currently not working*/
    size: 100%;
}

.clearButton {
    margin-top: 5px;
}

.border {
    border: 2px solid black;
}