.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.weather-display {
    margin-top: 25px;
}

.name-date-display {
    background-color: royalblue;
    color: white;
}

.columncolor {
    background-color: lightgrey;
}

.citySearch {
    float: right;
}

.border {
    border: 2px solid black;
}